@charset "UTF-8";
/* CSS Document */

.thumbnails{
	display: inline-block;
	margin-left: 18%;
	box-sizing: border-box;
}

.small{
	width: 15%;
	padding-left: 5px;
}	

.large{
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 50%;
	padding-top: 10px;
	box-sizing: border-box;
}
/* I got some pointers for this block of code from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_text */
.info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(106,106,106,0.82);
  padding: 8px;
}

h4{
	color: #83A3FF;
	font-size: 25px;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
h2{
	color: #83A3FF;
	font-size: 20px;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
